/* General layout */
:root {
    --mdc-theme-primary: #3D5AFE;
    --mdc-theme-secondary: #018786;
    --mdc-theme-background: #F4F4F4;
    --danger-color: #FF5252;
    --auxiliary-color: #448aff;
}

html {
    height: 100%;
    --mdc-typography-font-family: Roboto, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: 100%;
    height: 100vh;
}

.content-wrapper {
    display: flex;
    flex: 1 1 auto;
    height: 100%;
    box-sizing: border-box;
}

.main-wrapper {
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
}

/* Misc */
.kotlink-ready-detect {
    position: relative;
}

/* Header */
.mdc-top-app-bar .mdc-top-app-bar__navigation-icon {
    text-decoration: none;
}

.mdc-top-app-bar .mdc-top-app-bar__title {
    padding-right: 1em;
}

.mdc-top-app-bar .mdc-menu-surface--anchor {
    height: 1.5em;
}

.mdc-top-app-bar .signout-form {
    visibility: hidden;
}

.mdc-top-app-bar .mdc-menu-surface--anchor {
    height: 100%
}

/* Left Drawer */
.mdc-drawer .mdc-list-item {
    height: 3.6em;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 500;
    align-items: center;
}

.mdc-drawer a {
    width: 100%;
}

.mdc-drawer .material-icons.mdc-list-item__graphic {
    padding-right: 1.1em;
}

.mdc-drawer .mdc-list-item--selected .material-icons.mdc-list-item__graphic {
    color: var(--mdc-theme-primary);
}

.mdc-drawer .new-alias-button-item {
    padding-top: 0.6em;
    padding-bottom: 0.6em;
}

.mdc-drawer .new-alias-button {
    width: 14em;
    margin-left: 1.2em;
}

.mdc-drawer .mdc-list-divider {
    height: 0.05em;
}

/* Data Table */
.mdc-data-table {
    width: 100%;
    margin: 0.6em 0 0 0;
}

/* Alias List */
.filter-card {
    padding: 0.6em 1em 1em 1.5em;
    margin: 0.6em 0 0 0;
}

.search-field {
    --mdc-ripple-color: white;
    background-color: white;
    padding: 0;
    height: 3.1em;
    width: 25em;
    margin-right: 0.6em;
}

.search-field.mdc-text-field--filled {
    --mdc-ripple-color: white;
}

.search-field.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: white;
}

.search-field .mdc-floating-label {
    left: 0;
    top: 60%;
}

.search-field .mdc-floating-label.mdc-floating-label--float-above {
    top: 50%;
}

.icon-column {
    width: 3%;
}

.go-link {
    font-weight: 500;
    text-decoration: none;
    color: var(--mdc-theme-primary, #3D5AFE);
}

/* Alias / namespace editing form. */

.edit-record-card {
    width: 75%;
    margin: auto;
    padding: 2em;
}

.edit-record-card .mdc-button {
    float: right;
}

.edit-record-card .form-header {
    height: 1.5em;
    position: relative;
}

.edit-record-card .form-header .back-button {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 0.5em;
    transform: translate(-50%, -50%);
}

.edit-record-card .form-header .form-title {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 -50% 0 0;
    transform: translate(-50%, -50%);
}

.input-with-validation-wrapper {
    width: 100%;
    display: inline-block;
    margin-top: 0.5em;
}

.input-with-validation-wrapper .mdc-select .mdc-floating-label {
    left: 0.2em;
    top: 35%;
}

.input-with-validation-wrapper .mdc-text-field {
    width: 100%;
}

.input-with-validation-wrapper .mdc-select {
    width: 100%;
    padding-bottom: 1em;
}

.input-with-validation-wrapper .mdc-select__anchor .mdc-select__ripple::before, .input-with-validation-wrapper .mdc-select__anchor .mdc-select__ripple::after {
    background-color: white;
}

.input-with-validation-wrapper .mdc-select--filled:not(.mdc-select--disabled) .mdc-select__anchor {
    background-color: white;
}

.input-with-validation-wrapper .mdc-text-field-helper-line {
    padding-left: 0;
}

.input-with-validation-wrapper .mdc-select--filled.mdc-select--disabled .mdc-select__anchor {
    background-color: white;
}

#go-link-preview {
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    padding-left: 1em;
}

.go-link-preview-hidden {
    display: none;
}

/**
 * Error page
 */

.error-page-content {
    width: 100%;
    text-align: center;
    padding-top: 35px;
}

.error-page-content .error-page-icon {
    font-size: 55px;
}