#!/usr/bin/env bash

##############################################################################
##
##  Project-specific direnv definitions (environment variables, PATH modifications etc.)
##  (Check out https://direnv.net/ for more info)
##
##############################################################################

export PGHOST="127.0.0.1"
export PGDATABASE="kotlink"
export PGPORT=55432
export PGUSER="ktuser"
export PGPASSWORD="ktpass"

PATH_add environment/bin