#!/usr/bin/env bash

##############################################################################
##
##  Project-specific direnv definitions (environment variables, PATH modifications etc.)
##  (Check out https://direnv.net/ for more info)
##
##############################################################################

source_up

export PGHOST="127.0.0.1"
export PGDATABASE="kotlink"
export PGPORT=55432
export PGUSER="kotlinkuser"
export PGPASSWORD="kotlinkpass"

export KOTLINK_ENV="local"
export KOTLINK_HOME=$(pwd)

PATH_add environment/bin
