spring:
  profiles:
    active: local
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:55432/kotlink
    username: kotlinkuser
    password: kotlinkpass
  flyway:
    enabled: true
  cache:
    cache-names: aliasByFullLink,aliasByFullLinkPrefix,aliasSearch,apiSecret
    caffeine.spec: maximumSize=2000,expireAfterWrite=300s

security:
  oauth2:
    client:
      client-id: 115327279391-cqrf3suvt416skdkr8lqvdntgfa90epg.apps.googleusercontent.com
      client-secret: SZDICodbaLAkNXjbFKfOFZCO
      user-authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
      access-token-uri: https://www.googleapis.com/oauth2/v4/token
      authentication-scheme: header
      client-authentication-scheme: form
      token-name: oauth_token
      scope: email
    resource:
      user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
      prefer-token-info: false

logging:
  level:
    Exposed: WARN

kotlink:
  security:
    oauth:
      allowed-email-regex: .*
      allowed-emails: []
  logging:
    enable-access-log: false