version: '3.2'

services:
  postgresql:
    build:
      context: postgresql
    ports:
      - 45432:5432
    tmpfs:
      - /tmp
      - /var/run/postgresql
      - /var/lib/postgresql/data
    environment:
      - POSTGRES_DB=kotlink
      - POSTGRES_USER=kotlinkuser
      - POSTGRES_PASSWORD=kotlinkpass
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready" ]
      interval: 15s
      timeout: 30s
      retries: 3


networks:
  default:
    ipam:
      config:
        - subnet: 172.177.18.0/24