<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
    <title>KotLink - List Aliases</title>
</head>
<body>
<main layout:fragment="content">
    <!--/* @thymesVar id="aliases" type="java.util.List<org.kotlink.core.alias.Alias>" */-->
    <!--/* @thymesVar id="alias" type="org.kotlink.core.alias.Alias" */-->
    <div class="layout-spacer"></div>
    <div class="mdc-card" style="padding: 0 15px 15px 25px;">

        <form th:action="@{'/ui/alias'}" method="get">
            <div class="mdc-text-field search-input" data-mdc-auto-init="MDCTextField">
                <input id="my-text-field"
                       name="input"
                       th:value="${#request.getParameter('input')}"
                       type="text"
                       class="mdc-text-field__input">
                <label for="my-text-field" class="mdc-floating-label">Keywords</label>
                <div class="mdc-line-ripple"></div>
            </div>
            <button class="mdc-button mdc-button--raised" style="margin-left: 10px">
                <i class="material-icons mdc-button__icon" aria-hidden="true">search</i>
                Filter
            </button>
        </form>
    </div>
    <div class="layout-spacer"></div>
    <div class="mdc-card">
        <table class="mdl-data-table">
            <thead>
            <tr>
                <th width="3%"></th>
                <th>Link</th>
                <th>Redirect URL</th>
                <th>Owner</th>
                <th width="3%"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="alias: ${aliases}" th:title="${alias.description}">
                <td>
                    <a th:href="@{'/ui/alias/' + ${alias.id} + '/edit'}"
                       class="mdc-icon-button material-icons mdc-ripple-upgraded--unbounded mdc-ripple-upgraded table-row-action-item"
                       aria-pressed="false">
                        edit
                    </a>
                </td>
                <td>
                    <span th:utext="${@viewUtils.asGoLink(alias)}"
                          class="go-link"></span>
                </td>
                <td>
                    <a th:text="${@viewUtils.truncateRedirectUrl(alias.redirectUrl)}"
                       th:href="${alias.redirectUrl}"
                       style="color: #006621"
                       target="_blank"></a>
                </td>
                <td>
                    <span th:text="${alias.ownerAccount.email}"></span>
                </td>
                <td>
                    <form th:action="@{'/ui/alias/' + ${alias.id}}"
                          method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="mdc-icon-button material-icons mdc-ripple-upgraded--unbounded mdc-ripple-upgraded table-row-action-item"
                                onclick="return confirm('Are you sure that you want to delete this alias?')"
                                aria-pressed="false">
                            delete
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>