<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
    <title>KotLink - Aliases</title>
</head>
<body>
<main layout:fragment="content">
    <!--/* @thymesVar id="form" type="org.kotlink.ui.alias.AliasForm" */-->
    <!--/* @thymesVar id="search" type="java.lang.String" */-->
    <div class="mdc-card edit-record-card">
        <section>
            <div class="form-header">
                <a class="mdc-icon-button material-icons back-button"
                   th:href="@{'~/ui/alias?search=' + ${search}}">
                    <div class="mdc-icon-button__ripple"></div>
                    arrow_back
                </a>
                <span class="mdc-typography--headline6 form-title">
                    Edit Alias
                </span>
            </div>
            <form layout:insert="~{alias/_form :: alias-form}"
                  th:with="edit=true"
                  th:action="@{'~/ui/alias/' + ${form.aliasId} + '/edit?search=' + ${search}}"
                  method="post"
                  th:object="${form}">
            </form>
        </section>
    </div>
</main>
</body>
</html>