/*
 * General Layout
 */

:root {
    --mdc-theme-primary: #3D5AFE;
    --mdc-theme-secondary: #018786;
    --mdc-theme-background: #F4F4F4;
    --danger-color: #FF5252;
    --auxiliary-color: #448aff;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: 100%;
}

.content-wrapper {
    display: flex;
    flex: 1 1 auto;
    height: 100%;
    box-sizing: border-box;
}

.main-wrapper {
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
}

.kt-ready-detect {
    position: relative;
}

.mdc-button.secondary-text-button {
    background-color: var(--mdc-theme-secondary, #018786);
}

.mdc-button.auxiliary-text-button {
    background-color: var(--auxiliary-color, #fffc55);
}

.mdc-button.danger-text-button {
    background-color: var(--danger-color, #FF5252);
}

.mdl-data-table {
    width: 100%;
}

.layout-spacer {
    display: block;
    margin-top: 0.5em;
}

/*
 * Search Page
 */

.search-input {
    width: 350px;
}

.search-result-list--icon-placeholders .mdc-list-item__graphic {
    background-color: rgba(0, 0, 0, 0.38);
}

.mdc-list--avatar-list .mdc-list-item__graphic {
    margin-left: 0;
    margin-right: 16px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.mdc-list-item__graphic {
    margin-left: 0;
    margin-right: 32px;
    width: 24px;
    height: 24px;
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
}