<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KotLink</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/material-components-web@0.37.0/dist/material-components-web.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../static/css/material-table.css" th:href="@{/css/material-table.css}">
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}">

    <script src="../static/js/ready.js" th:src="@{/js/ready.js}"></script>
</head>
<body class="mdc-typography">

<!--/* @thymesVar id="selectedView" type="org.kotlink.ui.UiView" */-->

<header class="mdc-toolbar mdc-toolbar--fixed">
    <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
            <img src="/logo.png">
            <div class="mdc-toolbar__title catalog-title"
                 th:text="${(selectedView != null) ? selectedView.title : 'KotLink UI'}">
                Title
            </div>
        </section>
        <section class="mdc-toolbar__section mdc-toolbar__section--align-end">
            <span class="mdc-toolbar__title mdc-typography--overline"
                  style="line-height: 0"
                  th:text="${@currentUser.email}">Guest</span>
            <div class="mdc-menu-anchor">
                <button id="user-menu-button"
                        class="mdc-toolbar__icon"
                        title="User Menu"
                        tabindex="-1">
                    <i class="material-icons">
                        account_circle
                    </i>
                </button>
                <div id="user-menu" class="mdc-menu" tabindex="-1" data-mdc-auto-init="MDCMenu">
                    <ul class="mdc-menu__items mdc-list" role="menu" aria-hidden="true">
                        <li class="mdc-list-item"
                            role="menuitem"
                            tabindex="-1"
                            onclick="document.getElementById('signout-button').click()">
                            Logout
                            <form method="post" style="visibility: hidden" th:action="@{/ui/sign_out}">
                                <button id="signout-button" type="submit"></button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>

        </section>
    </div>
</header>

<div class="content-wrapper mdc-toolbar-fixed-adjust">

    <nav id="menu-drawer" class="mdc-drawer mdc-drawer--permanent menu-drawer">
        <div class="mdc-list-group">
            <div class="layout-spacer"></div>
            <nav class="mdc-list">
                <div th:class="'mdc-list-item' + ${(selectedView == T(org.kotlink.ui.UiView).NEW_ALIAS) ? ' mdc-list-item--selected' : '' }"
                     style="width: 100%">
                    <form th:action="@{'/ui/alias/new'}" method="get" style="margin-left: 20px;">
                        <button class="mdc-button mdc-button--raised"
                                style="width: 12em;"
                                tabindex="-1">
                            <i class="material-icons mdc-button__icon" aria-hidden="true">add</i>
                            New Alias
                        </button>
                    </form>
                </div>
                <a th:class="'mdc-list-item' + ${(selectedView == T(org.kotlink.ui.UiView).SEARCH) ? ' mdc-list-item--selected' : '' }"
                   href="#"
                   th:href="@{/ui/search}"
                   tabindex="-1">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">search</i>Search
                </a>
                <a class="mdc-list-item"
                   th:class="'mdc-list-item' + ${(selectedView == T(org.kotlink.ui.UiView).LIST_ALIASES) ? ' mdc-list-item--selected' : '' }"
                   href="#"
                   th:href="@{/ui/alias}"
                   tabindex="-1">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">local_offer</i>Aliases
                </a>
                <a class="mdc-list-item"
                   th:class="'mdc-list-item' + ${(selectedView == T(org.kotlink.ui.UiView).LIST_NAMESPACES) ? ' mdc-list-item--selected' : '' }"
                   href="#"
                   th:href="@{/ui/namespace}"
                   tabindex="-1">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">folder_open</i>Namespaces
                </a>
                <hr class="mdc-list-divider">
                <a class="mdc-list-item"
                   th:class="'mdc-list-item' + ${(selectedView == T(org.kotlink.ui.UiView).EXTENSION_SECRET) ? ' mdc-list-item--selected' : '' }"
                   href="#"
                   th:href="@{/ui/extension_secret}"
                   tabindex="-1">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">security</i>Extension Secret
                </a>
            </nav>
        </div>
    </nav>

    <main layout:fragment="content" class="main-wrapper"></main>

    <th:block layout:insert="~{fragment/_error_dialog :: error_dialog}"/>
    <th:block layout:insert="~{fragment/_success_dialog :: success_dialog}"/>
</div>

<script src="https://cdn.jsdelivr.net/npm/material-components-web@0.37.0/dist/material-components-web.js"
        async></script>
<script src="../static/js/main.js" th:src="@{/js/main.js}" async></script>
</body>
</html>