<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KotLink</title>
    <link rel="stylesheet" href="/webjars/material-components-web/0.35.0/dist/material-components-web.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="/js/ready.js"></script>
</head>
<body class="mdc-typography">
<header class="mdc-toolbar mdc-toolbar--fixed">
    <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
            <span class="mdc-toolbar__title catalog-title">Search</span>
        </section>
    </div>
</header>

<div class="content-wrapper mdc-toolbar-fixed-adjust">
    <nav id="menu-drawer" class="mdc-drawer mdc-drawer--permanent menu-drawer">
        <div class="mdc-list-group">
            <nav class="mdc-list">
                <div class="mdc-list-item mdl-typography--text-center" style="margin-top: 10px">
                    <button class="mdc-button mdc-button--raised" style="margin: auto">
                        <i class="material-icons mdc-button__icon" aria-hidden="true">create</i>
                        New Alias
                    </button>
                </div>
                <a class="mdc-list-item" href="#">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">swap_calls</i>Aliases
                </a>
                <a class="mdc-list-item" href="#">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">folder_open</i>Namespaces
                </a>
                <hr class="mdc-list-divider">
                <a class="mdc-list-item mdc-list-item--selected" href="#">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">search</i>Search
                </a>
                <a class="mdc-list-item" href="#">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">help</i>Help
                </a>
            </nav>
        </div>
    </nav>
    <main class="main-wrapper">
        <section>
            <form th:action="@{'/link/search'}" method="get">
                <div class="mdc-text-field search-input" data-mdc-auto-init="MDCTextField">
                    <input id="my-text-field"
                           name="input"
                           type="text"
                           class="mdc-text-field__input"
                           th:value="${input}"
                           autofocus>
                    <label for="my-text-field" class="mdc-floating-label">Input</label>
                    <div class="mdc-line-ripple"></div>
                </div>
                <button class="mdc-button mdc-button--raised" style="margin-left: 10px">
                    <i class="material-icons mdc-button__icon" aria-hidden="true">search</i>
                    Search
                </button>
            </form>
        </section>

        <h2 class="mdc-typography--headline6">
            Found
            <span th:if="${aliases.isEmpty()}">no</span>
            <span th:if="${!(aliases.isEmpty())}" th:text="${aliases.size()}">x</span>
            matching aliases for search <span th:text="'&quot;' + ${input} + '&quot;'">"input"</span>
        </h2>

        <ul th:each="alias: ${aliases}"
            id="found-aliases"
            class="mdc-list mdc-list--avatar-list search-result-list--icon-placeholders">
            <li class="mdc-list-item">
                <span class="mdc-list-item__graphic" role="presentation">
                    <i class="material-icons" aria-hidden="true">insert_drive_file</i>
                </span>
                <a href="/" th:text="${alias.fullLink}" th:attr="href=${alias.redirectUrl}">alias</a>
            </li>
        </ul>

    </main>
</div>

<script src="/webjars/material-components-web/0.35.0/dist/material-components-web.js" async></script>
<script src="/js/main.js" async></script>
</body>
</html>