<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
    <title>KotLink - Edit Alias</title>
</head>
<body>
<div layout:fragment="content">
    <!--/* @thymesVar id="alias" type="org.kotlink.ui.alias.AliasUiValue" */-->
    <div class="layout-spacer"></div>
    <div class="mdc-card edit-record-card">
        <section>
            <span class="mdc-typography--headline6">Edit Alias</span>
            <form layout:insert="~{alias/_form :: alias-form}"
                  th:with="edit=true"
                  th:action="@{'/ui/alias/' + ${alias.id} + '/edit'}"
                  method="post"
                  th:object="${alias}">
            </form>
        </section>
    </div>
</div>
</body>
</html>
