<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
    <title>KotLink - List Namespaces</title>
</head>
<body>
<main layout:fragment="content">
    <!--/* @thymesVar id="namespaces" type="java.util.List<org.kotlink.core.namespace.Namespace>" */-->
    <!--/* @thymesVar id="namespace" type="org.kotlink.core.namespace.Namespace" */-->
    <div class="layout-spacer"></div>
    <form th:action="@{'/ui/namespace/new'}"
          method="get">
        <button class="mdc-button mdc-button--outlined">
            <i class="material-icons mdc-button__icon" aria-hidden="true">add</i>
            New Namespace
        </button>
    </form>
    <div class="layout-spacer"></div>
    <div class="mdc-card">
        <table class="mdl-data-table">
            <thead>
            <tr>
                <th width="15%">ID</th>
                <th>Keyword</th>
                <th>Description</th>
                <th width="10%"></th>
                <th width="10%"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="namespace: ${namespaces}">
                <td th:text="${namespace.id}">123</td>
                <td>
                    <span th:if="${namespace.keyword.isEmpty()}" style="font-style: italic">(default)</span>
                    <span th:unless="${namespace.keyword.isEmpty()}" th:text="${namespace.keyword}"></span>
                </td>
                <td>
                    <span th:if="${namespace.description.isEmpty()}">-</span>
                    <span th:unless="${namespace.description.isEmpty()}" th:text="${namespace.description}"></span>
                </td>
                <td>
                    <form th:action="@{'/ui/namespace/' + ${namespace.id} + '/edit'}"
                          method="get"
                          th:if="${!namespace.keyword.isEmpty()}">
                        <button class="mdc-button mdc-button--raised secondary-text-button">
                            <i class="material-icons mdc-button__icon" aria-hidden="true">edit</i>
                            Edit
                        </button>
                    </form>
                </td>
                <td>
                    <form th:action="@{'/ui/namespace/' + ${namespace.id}}"
                          method="post"
                          th:if="${!namespace.keyword.isEmpty()}">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="mdc-button mdc-button--raised danger-text-button"
                                onclick="return confirm('Are you sure that you want to delete this namespace?')">
                            <i class="material-icons mdc-button__icon" aria-hidden="true">delete</i>
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</main>
</body>
</html>