<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
    <title>KotLink - List Namespaces</title>
</head>
<body>
<main layout:fragment="content">
    <!--/* @thymesVar id="namespaces" type="java.util.List<org.kotlink.core.namespace.Namespace>" */-->
    <!--/* @thymesVar id="namespace" type="org.kotlink.core.namespace.Namespace" */-->
    <div class="layout-spacer"></div>
    <form th:action="@{'/ui/namespace/new'}"
          method="get">
        <button class="mdc-button mdc-button--outlined">
            <i class="material-icons mdc-button__icon" aria-hidden="true">add</i>
            New Namespace
        </button>
    </form>
    <div class="layout-spacer"></div>
    <div class="mdc-card">
        <table class="mdl-data-table">
            <thead>
            <tr>
                <th width="3%"></th>
                <th>Keyword</th>
                <th>Description</th>
                <th>Owner</th>
                <th width="3%"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="namespace: ${namespaces}">
                <td>
                    <a th:if="${!namespace.keyword.isEmpty()}"
                       th:href="@{'/ui/namespace/' + ${namespace.id} + '/edit'}"
                       class="mdc-icon-button material-icons mdc-ripple-upgraded--unbounded mdc-ripple-upgraded table-row-action-item"
                       aria-pressed="false">
                        edit
                    </a>
                    <button th:if="${namespace.keyword.isEmpty()}"
                            class="mdc-icon-button material-icons mdc-ripple-upgraded--unbounded mdc-ripple-upgraded table-row-action-item"
                            aria-pressed="false"
                            disabled="">
                        edit
                    </button>
                </td>
                <td>
                    <span th:if="${namespace.keyword.isEmpty()}"
                          class="go-link-in-table"
                          style="font-style: italic">(default)</span>
                    <span th:unless="${namespace.keyword.isEmpty()}"
                          class="go-link-in-table"
                          th:text="${namespace.keyword}"></span>
                </td>
                <td>
                    <span th:if="${namespace.description.isEmpty()}">-</span>
                    <span th:unless="${namespace.description.isEmpty()}" th:text="${namespace.description}"></span>
                </td>
                <td>
                    <span th:text="${namespace.ownerAccount.email}"></span>
                </td>
                <td>
                    <form th:action="@{'/ui/namespace/' + ${namespace.id}}"
                          method="post"
                          th:if="${!namespace.keyword.isEmpty()}">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="mdc-icon-button material-icons mdc-ripple-upgraded--unbounded mdc-ripple-upgraded table-row-action-item"
                                onclick="return confirm('Are you sure that you want to delete this namespace?')"
                                aria-pressed="false">
                            delete
                        </button>
                    </form>
                    <button th:if="${namespace.keyword.isEmpty()}"
                            class="mdc-icon-button material-icons mdc-ripple-upgraded--unbounded mdc-ripple-upgraded table-row-action-item"
                            aria-pressed="false"
                            disabled="">
                        delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</main>
</body>
</html>