<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
    <title>KotLink - Extension Secret</title>
</head>
<body>
<main layout:fragment="content">
    <div class="layout-spacer"></div>
    <div class="mdc-card" style="padding: 15px">
        <div>
            <div id="user-secret-field"
                 class="mdc-text-field"
                 data-mdc-auto-init="MDCTextField"
                 style="width: 600px">
                <input id="user-secret-input"
                       type="text"
                       class="mdc-text-field__input"
                       th:value="42"
                       readonly>
                <label class="mdc-floating-label"
                       for="user-secret-input">
                    Your Secret for Browser Extension:
                </label>
                <!--<div class="mdc-line-ripple"></div>-->
                <button id="copy-token-to-clipboard"
                        class="mdc-button"
                        type="button"
                        style="float: right;">
                    To Clipboard
                </button>
            </div>
        </div>
        <p class="mdc-typography--caption" style="padding-top: 15px">
            For more information, check the documentation at
            <a href="http://kotlink.org">kotlink.org</a>
        </p>
    </div>
    <script>
        kt.onReady(() => {
            document.getElementById('copy-token-to-clipboard').addEventListener('click', function() {
                document.getElementById("user-secret-input").select();
                document.execCommand("copy");
            });
        });
    </script>
</main>
</body>
</html>