<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <title>KotLink - Error Page</title>
</head>
<body>
<main layout:fragment="content">
    <div class="error-page-content">
        <h4 class="mdc-typography--headline4">
            <i class="material-icons error-page-icon">
                warning
            </i>
        </h4>
        <h4 class="mdc-typography--headline4">
            Oops! You are not authorized to access this KotLink server.
        </h4>
    </div>
</main>
</body>
</html>