name: CI

on:
  push:
    branches:
      - 'master'
  pull_request:
    branches:
      - 'master'

jobs:
  test-and-build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
    - name: Run Tests & Build JAR
      run: ./environment/bin/kotlink_ci
    - name: Upload JAR File
      uses: actions/upload-artifact@v2
      with:
        name: jar_file
        path: build/libs/kotlink.jar
    - uses: codecov/codecov-action@v1
  docker-image:
    runs-on: ubuntu-latest
    needs: test-and-build
    if: github.ref == 'refs/heads/master'
    steps:
      - uses: actions/checkout@v2
      - name: Download JAR File
        uses: actions/download-artifact@v2
        with:
          name: jar_file
          path: build/libs/
      - run: |
          ls -la build/libs/
      - name: Login To DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build & Push Image
        uses: docker/build-push-action@v2
        with:
          context: .
          platforms: linux/amd64
          tags: ilya40umov/kotlink:develop